---
import "@styles/Main.css";

import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import VsCode from "../icons/VsCode.astro";
import Git from "../icons/Git.astro";
import N8n from "../icons/N8n.astro";
import Docker from "../icons/Docker.astro";
import Dokploy from "../icons/Dokploy.astro";
import GitHub from "../icons/GitHub.astro";
import Linkedin from "../icons/Linkedin.astro";
import JavaScript from "../icons/JavaScript.astro";
import TypeScript from "../icons/TypeScript.astro";
import Dart from "../icons/Dart.astro";
import Flutter from "../icons/Flutter.astro";
import Php from "../icons/Php.astro";
import Python from "../icons/Python.astro";
import Sql from "../icons/Sql.astro";
import Firebase from "../icons/Firebase.astro";
import MongoDb from "../icons/MongoDb.astro";
import Laravel from "../icons/Laravel.astro";
import Symfony from "../icons/Symfony.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/React.astro";
import Nestjs from "../icons/Nestjs.astro";
import Angular from "../icons/Angular.astro";
import Info from "../icons/Info.astro";

const currentYear = new Date().getFullYear();
const yearsOfExperience = (currentYear - 2021).toString();
---

<!-- MENU -->
<nav>
    <h1><a href="#principal">JAMES <b>RUDAS</b></a></h1>

    <ul>
        <li class="close-menu">
            <h1><a href="#principal">JAMES <b>RUDAS</b></a></h1>
            <svg
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ffffff"
                stroke="#ffffff"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                        fill="#ffffff"
                        d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"
                    ></path></g
                ></svg
            >
        </li>
        <li><a href="#sobre-mi">Sobre mi</a></li>
        <li><a href="#estudios-experiencia">Estudios y experiencia</a></li>
        <li><a href="#herramientas">Herramientas</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <!-- <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#clientes">Clientes</a></li> -->
        <li><a href="#contacto">Contacto</a></li>
    </ul>

    <svg
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#ffffff"
        id="open-menu"
    >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M3 7C3 6.44771 3.44772 6 4 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H4C3.44772 8 3 7.55229 3 7Z"
                fill="#ffffff"></path>
            <path
                d="M3 14C3 13.4477 3.44772 13 4 13H24C24.5523 13 25 13.4477 25 14C25 14.5523 24.5523 15 24 15H4C3.44772 15 3 14.5523 3 14Z"
                fill="#ffffff"></path>
            <path
                d="M4 20C3.44772 20 3 20.4477 3 21C3 21.5523 3.44772 22 4 22H24C24.5523 22 25 21.5523 25 21C25 20.4477 24.5523 20 24 20H4Z"
                fill="#ffffff"></path>
        </g>
    </svg>
</nav>

<!-- PRINCIPAL -->
<section class="principal" id="principal">
    <div class="tittle">
        <h2>
            Hola, soy
            <b class="typing"></b>
        </h2>

        <a href="file/James_Rudas_CV.pdf" download class="btn">Mi CV</a>
    </div>

    <!-- NEXT BTN -->
    <div class="next">
        <a href="#sobre-mi">
            <svg
                viewBox="0 -19.04 75.804 75.804"
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                stroke="white"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <g
                        id="Group_67"
                        data-name="Group 67"
                        transform="translate(-798.203 -587.815)"
                    >
                        <path
                            id="Path_59"
                            data-name="Path 59"
                            d="M798.2,589.314a1.5,1.5,0,0,1,2.561-1.06l33.56,33.556a2.528,2.528,0,0,0,3.564,0l33.558-33.556a1.5,1.5,0,1,1,2.121,2.121l-33.558,33.557a5.53,5.53,0,0,1-7.807,0l-33.56-33.557A1.5,1.5,0,0,1,798.2,589.314Z"
                            fill="white"></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</section>

<!-- SOBRE MI -->
<section class="sobre-mi" id="sobre-mi">
    <div class="image animateInside">
        <img src="images/me.jpg" alt="Imagen de perfil" />
    </div>

    <div class="information animateInside">
        <p>
            Soy ingeniero de Sistemas con experiencia en múltiples tecnológias
            de backend y frontend. Apasionado por la creación de soluciones
            tecnológicas; cuento con habilidades en el liderazgo de equipos,
            fomentando el crecimiento profesional y la innovación. Me gusta
            aprender de forma continua e implementar buenas prácticas en el
            desarrollo de aplicativos.
        </p>

        <div class="aditional-info">
            <span>
                {yearsOfExperience}+ años de
                <br />
                <b>experiencia</b>
            </span>

            <span>
                10+ proyectos
                <br />
                <b>completados</b>
            </span>
        </div>
    </div>
</section>

<!-- ESTUDIOS Y EXPERIENCIA -->
<section class="estudios-experiencia" id="estudios-experiencia">
    <h2 class="tittle">Mi trayectoria académica y profesional</h2>

    <div class="list">
        <div class="academicas">
            <h3 class="subtittle">Educación</h3>

            <div class="card">
                <span>2018 - 2022</span>
                <h4>Ingeniería de Sistemas</h4>
                <p>Corporación universitaria Remingtón</p>
            </div>
        </div>

        <div class="experiencia">
            <h3 class="subtittle">Experiencia profesional</h3>

            <div class="card">
                <span>2024 - Actual</span>
                <h4>Desarrollador full stack</h4>
                <p>Complementos Humanos</p>
            </div>

            <div class="card">
                <span>2023 - 2024</span>
                <h4>Desarrollador full stack</h4>
                <p>Tejido Digital S.A.S</p>
            </div>

            <div class="card">
                <span>2022 </span>
                <h4>Desarrollador Backend</h4>
                <p>IMEXHS | Imaging Experts and Healthcare Services</p>
            </div>
        </div>
    </div>
</section>

<!-- HERRAMIENTAS -->
<section class="herramientas" id="herramientas">
    <h2 class="tittle">Herramientas</h2>

    <div class="cards-list">
        <div class="card">
            <div class="img-with-text">
                <VsCode />
                <span>Visual Studio Code</span>
            </div>
        </div>

        <div class="card">
            <div class="img-with-text">
                <Git />
                <span>Git</span>
            </div>
        </div>

        <div class="card">
            <div class="img-with-text">
                <Docker />
                <span>Docker</span>
            </div>
        </div>

        <div class="card">
            <div class="img-with-text">
                <N8n />
                <span>n8n</span>
            </div>
        </div>

        <div class="card">
            <div class="img-with-text">
                <Dokploy />
                <span>Dokploy</span>
            </div>
        </div>
    </div>
</section>

<!-- HABILIDADES -->
<section class="habilidades" id="habilidades">
    <h2 class="tittle">Habilidades</h2>

    <div class="cards-list">
        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Html />
                    <h3>HTML</h3>
                </div>

                <div class="progress" data-value="90"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Css />
                    <h3>CSS</h3>
                </div>

                <div class="progress" data-value="70"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <JavaScript />
                    <h3>JavaScript</h3>
                </div>

                <div class="progress" data-value="80"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <TypeScript />
                    <h3>TypeScript</h3>
                </div>

                <div class="progress" data-value="70"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Dart />
                    <h3>Dart</h3>
                </div>

                <div class="progress" data-value="65"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Flutter />
                    <h3>Flutter</h3>
                </div>

                <div class="progress" data-value="60"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Php />
                    <h3>PHP</h3>
                </div>

                <div class="progress" data-value="80"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Python />
                    <h3>Python</h3>
                </div>

                <div class="progress" data-value="50"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <React />
                    <h3>React</h3>
                </div>

                <div class="progress" data-value="60"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Angular />
                    <h3>Angular</h3>
                </div>

                <div class="progress" data-value="70"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Nestjs />
                    <h3>NestJs</h3>
                </div>

                <div class="progress" data-value="65"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Sql />
                    <h3>SQL</h3>
                </div>

                <div class="progress" data-value="75"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Firebase />
                    <h3>Firebase</h3>
                </div>

                <div class="progress" data-value="65"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <MongoDb />
                    <h3>MongoDB</h3>
                </div>

                <div class="progress" data-value="80"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Laravel />
                    <h3>Laravel</h3>
                </div>

                <div class="progress" data-value="60"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Symfony />
                    <h3>Symfony</h3>
                </div>

                <div class="progress" data-value="70"></div>
            </div>
        </div>

        <div class="card">
            <div class="text-with-percent">
                <div class="head">
                    <Tailwind />
                    <h3>Tailwind</h3>
                </div>

                <div class="progress" data-value="73"></div>
            </div>
        </div>
    </div>
</section>

<!-- PROYECTOS -->
<!-- <section class="proyectos" id="proyectos">
    <h2 class="tittle">Proyectos</h2>
</section> -->

<!-- CLIENTES -->
<!-- <section class="clientes" id="clientes">
    <h2 class="tittle">Clientes</h2>
</section> -->

<!-- CONTACTO -->
<section class="contacto" id="contacto">
    <h2 class="tittle">Contáctame</h2>

    <form class="animateInside" autocomplete="new-user-form">
        <div class="input-group">
            <div class="field">
                <label for="name">Nombre completo</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Nombre completo"
                    autocomplete="new-user-name"
                />
            </div>

            <div class="field">
                <label for="email">Correo electrónico</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Correo electrónico"
                    autocomplete="new-user-email"
                />
            </div>
        </div>

        <div class="field">
            <label for="message">Escribe tu mensaje...</label>
            <textarea
                name="message"
                id="message"
                placeholder="Escribe tu mensaje..."
                value=""
                cols="30"
                rows="10"
                autocomplete="new-user-message"></textarea>
        </div>

        <div class="alert" id="alert-message">
            <Info />
            <span></span>
        </div>

        <div class="align-right">
            <button type="submit" class="btn" id="send-message-btn">
                Enviar
            </button>
        </div>
    </form>
</section>

<!-- FOOTER -->
<div class="footer">
    <div class="social-media">
        <a
            href="https://github.com/jamesrx13"
            target="_blank"
            rel="noopener noreferrer"
            title="GitHub"
        >
            <GitHub />
        </a>

        <a
            href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
            target="_blank"
            rel="noopener noreferrer"
            title="LinkedIn"
        >
            <Linkedin />
        </a>
    </div>

    <p>
        <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 8.13401 8.13401 5 12 5C13.8565 5 15.637 5.7375 16.9497 7.05025C18.2625 8.36301 19 10.1435 19 12Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M14.646 9.00002C13.0379 7.58179 10.5975 7.6838 9.11336 9.23129C7.62921 10.7788 7.62921 13.2213 9.11336 14.7688C10.5975 16.3162 13.0379 16.4182 14.646 15"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </g></svg
        >
        {currentYear} James Rudas. Todos los derechos reservados.
    </p>
</div>

<script>
    import "@js/Main.js";
</script>
