---
import "@styles/Main.css";
---

<!-- MENU -->
<nav>
    <h1><a href="#principal">JAMES <b>RUDAS</b></a></h1>

    <ul>
        <li class="close-menu">
            <h1><a href="#principal">JAMES <b>RUDAS</b></a></h1>
            <svg
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ffffff"
                stroke="#ffffff"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                        fill="#ffffff"
                        d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"
                    ></path></g
                ></svg
            >
        </li>
        <li><a href="#sobre-mi">Sobre mi</a></li>
        <li><a href="#estudios-experiencia">Estudios y experiencia</a></li>
        <li><a href="#herramientas">Herramientas</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#clientes">Clientes</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>

    <svg
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#ffffff"
        id="open-menu"
    >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M3 7C3 6.44771 3.44772 6 4 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H4C3.44772 8 3 7.55229 3 7Z"
                fill="#ffffff"></path>
            <path
                d="M3 14C3 13.4477 3.44772 13 4 13H24C24.5523 13 25 13.4477 25 14C25 14.5523 24.5523 15 24 15H4C3.44772 15 3 14.5523 3 14Z"
                fill="#ffffff"></path>
            <path
                d="M4 20C3.44772 20 3 20.4477 3 21C3 21.5523 3.44772 22 4 22H24C24.5523 22 25 21.5523 25 21C25 20.4477 24.5523 20 24 20H4Z"
                fill="#ffffff"></path>
        </g>
    </svg>
</nav>

<!-- PRINCIPAL -->
<section class="principal" id="principal">
    <div class="tittle">
        <h2>
            Hola, soy
            <b class="typing"></b>
        </h2>

        <a href="file/James_Ferney_Rudas_Marin_Cv.pdf" download class="btn"
            >Mi CV</a
        >
    </div>

    <!-- NEXT BTN -->
    <div class="next">
        <a href="#sobre-mi">
            <svg
                viewBox="0 -19.04 75.804 75.804"
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                stroke="white"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <g
                        id="Group_67"
                        data-name="Group 67"
                        transform="translate(-798.203 -587.815)"
                    >
                        <path
                            id="Path_59"
                            data-name="Path 59"
                            d="M798.2,589.314a1.5,1.5,0,0,1,2.561-1.06l33.56,33.556a2.528,2.528,0,0,0,3.564,0l33.558-33.556a1.5,1.5,0,1,1,2.121,2.121l-33.558,33.557a5.53,5.53,0,0,1-7.807,0l-33.56-33.557A1.5,1.5,0,0,1,798.2,589.314Z"
                            fill="white"></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</section>

<!-- SOBRE MI -->
<section class="sobre-mi" id="sobre-mi">
    <div class="image">
        <img src="images/me.jpg" alt="Imagen de perfil" />
    </div>

    <p>
        Soy ingeniero de Sistemas con experiencia en múltiples tecnológias de
        backend y frontend. Apasionado por la creación de soluciones
        tecnológicas; cuento con habilidades en el liderazgo de equipos,
        fomentando el crecimiento profesional y la innovación. Me gusta aprender
        de forma continua e implementar bunas prácticas en el desarrollo de
        aplicativos.
    </p>
</section>

<!-- ESTUDIOS Y EXPERIENCIA -->
<section class="estudios-experiencia" id="estudios-experiencia">
    Estudios y experiencia
</section>

<!-- HERRAMIENTAS -->
<section class="herramientas" id="herramientas">Herramientas</section>

<!-- HABILIDADES -->
<section class="habilidades" id="habilidades">Habilidades</section>

<!-- PROYECTOS -->
<section class="proyectos" id="proyectos">Proyectos</section>

<!-- CLIENTES -->
<section class="clientes" id="clientes">Clientes</section>

<!-- CONTACTO -->
<section class="contacto" id="contacto">Contacto</section>

<!-- FOOTER -->
<section class="footer">Footer</section>

<script>
    import "@js/Main.js";
</script>
