<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>James Rudas | Desarrollador Fullstack</title>

        <meta
            name="description"
            content="Portafolio profesional de James Rudas, Ingeniero de Sistemas especializado en desarrollo backend, frontend y liderazgo de proyectos tecnológicos."
        />
        <meta
            name="keywords"
            content="James Rudas, Ingeniero de Sistemas, desarrollador web, desarrollador móvil, portafolio, programación, software"
        />
        <meta name="author" content="James Rudas" />

        <meta
            property="og:title"
            content="James Rudas - Ingeniero de Sistemas"
        />
        <meta
            property="og:description"
            content="Desarrollador web y móvil con experiencia en múltiples tecnologías."
        />
        <meta
            property="og:image"
            content="https://jamesrudas.com/images/me.jpg"
        />
        <meta property="og:url" content="https://jamesrudas.com/" />
        <meta property="og:type" content="website" />

        <link rel="icon" href="https://jamesrudas.com/images/me.jpg" />

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Person",
                "name": "James Rudas",
                "url": "https://jamesrudas.com",
                "image": "https://jamesrudas.com/images/me.jpg",
                "sameAs": [
                    "https://www.linkedin.com/in/james-ferney-rudas-mar%C3%ADn-520356180/",
                    "https://github.com/jamesrx13"
                ],
                "jobTitle": "Ingeniero de Sistemas",
                "worksFor": {
                    "@type": "Organization",
                    "name": "Freelance / Autónomo / Independiente"
                }
            }
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "SpaceMono";
        src: url("/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "SpaceMono", sans-serif;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth !important;

        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: linear-gradient(to bottom, #0077b6, #00b4d8);
        }

        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to bottom, #0077b6, #00b4d8);
        }
    }

    body {
        background-color: black;
    }
</style>
